main {
    display: grid;
    height: 95vh;
    /* justify-content: center;
    align-items: center; */
}

nav,
.footer {
    background-color: #e3f2fd;
}

.footer {
    text-align: center;
    padding: 10px 0;
}

.form-check {
    margin-top: 10vh;
    padding: 10px 25px;
}

#map {
    height: 70vh;
    width: 100vw;
}